<p>Please give us your contact details.</p>
<form>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" placeholder="Your username">
	</div>
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" class="form-control" id="email" placeholder="name@example.org">
	</div>
	<div class="form-group">
		<label for="telephone">Telephone number</label>
		<input type="number" class="form-control" id="tlf" placeholder="22334422">
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox"> Allow us to send you unsolicited emails
		</label>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
